django_gateway/venv/
comments_service/venv/
django_gateway/config.env
.idea/
front_end/django_comments_react/.gitignore
frint_end/django_comments_react/node_modules
django_gateway/launch.sh
front_end/django_commnents_react/package-lock.json
*.pyc
*migrations
django_gateway/migrations.sh
django_gateway/create_superuser.sh
django_gateway/launch.bat
config.env
comments_service/launch.sh
